[submodule "core"]
	path = core
	url = git@github.com:EmergencePlatform/php-core.git
	branch = master
[submodule "site"]
	path = site
	url = git@github.com:JarvusInnovations/Gatekeeper.git
	branch = sites/gatekeeper.sandbox01.jarv.us
