@import 'compass/css3/flexbox';

.cardlist {
    
}

.cardlist-item {
    background: rgba(white, .6);
    border: 1px solid $border-color;
    @include box-shadow(0 .5em .5em -.5em rgba(black, .2));
    @include display-flex;
    margin: 1em 0;
    padding: 1em;
    
    .title {
        font-weight: normal;
        margin-bottom: 0;
        margin-top: 0;
    }

    .meta {
        color: $muted-color;

        a {
            color: $muted-color;
        }
    }
    
    > .details {
        @include flex(1);
        padding: 1em;
    }
    
    > footer {
        @include align-items(stretch);
        @include display-flex;
        @include flex-direction(column);
        
        > a {
            display: block;

            + a {
                margin-top: .125em;
            }
        }
    }
}

.primary-metric {
    background: rgba(black, .1);
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    font-size: large;
    line-height: 1;
    margin-right: 1em;
    text-align: center;
    width: 10em;

    strong {
        display: block;
        font-size: x-large;
    }
    
    @mixin tint-color($color) {
        background: rgba($color, .2);
        color: mix($text-color, $color, 60%);
    }
    
    &.good { @include tint-color(lime); }
    &.mid  { @include tint-color(yellow); }
    &.bad  { @include tint-color(red); }
}

.other-metrics {
    color: $muted-color;
    @include display-flex;
    line-height: 1;
    margin: 1em 0 0;
    padding: 0;
    
    > li {
        @include flex(1);
        display: block;
        list-style: none;
    }
    
    strong {
        color: $text-color;
        display: block;
        font-weight: 500;
    }    
}