.docs-tpl {
    .site > .inner {
        width: auto;
    }

    .content > .inner {
        padding: 0;
    }

    section[id] { // anchored sections should have padding so their headers aren't jammed against the top of the viewport
        padding-top: 1em;
    }

    .section-header {
        margin: 0 0 1em;
    }

    .header-title {
        font-weight: normal;
        margin: 0;
    }

    .http-method {
        font-weight: bold;
        text-transform: uppercase;
    }

    .indent {
        margin-left: 1.5em;
    }
}

.split-view {
    @include display-flex;

    > .nav-view {
        background-color: mix($page-bg-color, $base-color, 80%);
        padding: 1.5em 0;
        width: 240px;
    }

    > .detail-view {
        @include flex(1);
        padding: 1.5em;
    }
}

.docs-toc {
    $link-left-pad: 1.5em;
    $link-left-indent: $link-left-pad / 2;

    @function link-left-pad($level: 1) {
        @return $link-left-indent + ($level * $link-left-pad);
    }

    bottom: 0;
    margin: 1px 0 0;
    overflow: auto;
    overflow-x: hidden;
    padding: 0 0 1em;
    position: fixed;
    top: 3em;
    width: 240px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            padding-left: link-left-pad();
            text-indent: -1 * $link-left-indent;
        }

        li a { padding-left: link-left-pad(2); }
        li li a { padding-left: link-left-pad(3); }
        li li li a { padding-left: link-left-pad(4); }
    }

    a {
        display: block;
        line-height: 1.25;
        padding: .375em 1.5em;
        text-decoration: none;

        &:hover,
        &:focus {
            background-color: rgba($link-color, .2);
        }

        &.current {
            background-color: $link-color;
            color: white;
        }
    }
}

.docs-table {
    background-color: rgba(white, .4);
    border: 1px solid $border-color;

    caption {
        background-color: darken($border-color, 25);
        color: white;
        font-size: smaller;
        font-weight: normal;
        padding: .375em .625em;
        text-transform: uppercase;

        a {
            color: inherit;
            text-decoration: underline;
            text-transform: none;
        }
    }

    td, th {
        vertical-align: top;
    }

    td {
        border-top: 1px solid $border-color;
    }

    p {
        margin: 0;
    }

    thead {
        th {

        }
    }

    .docs-table {
        font-size: small;
        font-weight: normal;
        margin: .5em 0;
        width: auto;
    }

    input {
        padding: .125em .25em;

        &.invalid {
            background-color: tint(red, 90%);
            border-color: red;
        }
    }
}

.endpoint-path-method {
    margin-bottom: 2em;

    .section-header {
        border: 0;
        margin: 0;
    }
}

.endpoint-model {
    .docs-table {
        margin: 0;
    }
}

.toggle {
    position: relative;

    input {
        position: absolute;
        visibility: hidden;
    }

    .toggle-off { display: inline; }
    .toggle-on  { display: none; }
    .toggle-off-to-on { display: none; }
    .toggle-on-to-off { display: none; }

    :checked {
        ~ .toggle-off { display: none; }
        ~ .toggle-on  { display: inline; }
    }

    &.off-to-on {
        .toggle-off { display: none; }
        .toggle-on  { display: none; }
        .toggle-off-to-on { display: inline; }
        .toggle-on-to-off { display: none; }
    }

    &.on-to-off {
        .toggle-off { display: none; }
        .toggle-on  { display: none; }
        .toggle-off-to-on { display: none; }
        .toggle-on-to-off { display: inline; }
    }
}

.response-container {
    margin: 1em 0 1em 1.5em;
}

.response-body {
    background: rgba(white, .4);
    border: 1px solid $border-color;
    max-height: 500px;
    max-height: 60vh;
    white-space: pre-wrap;
}

.response-headers {
    display: table;

    .dli {
        display: table-row;
    }

    dt, dd {
        display: table-cell;
    }

    dt {
        color: $muted-color;
        padding-right: 1em;
        text-align: right;
    }

    dd {
        margin: 0;
    }
}