
.endpoint {
    margin-bottom: 0.5em;

    header {
        position: relative;
        height: 3em;
        
        h3 {
            line-height: 3em;
            margin: 0;
        }
        
        .metric-primary-bar {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            background: #06C;
            opacity: 0.5;
            
            -webkit-transition: width 250ms ease-out;
            transition: width 250ms ease-out;
        }
        
        .metric-primary-value {
            float: right;
        }
        
        .metric-secondary-ct {
            float: right;
            width: 4em;
            height: 100%;
            text-align: center;
            position: relative;
            
            .metric-secondary-bar {
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                background: #06C;
                opacity: 0.5;
                
                -webkit-transition: height 250ms ease-out;
                transition: height 250ms ease-out;
            }
        }
    }

    footer {
        display: none;
    }
    
    &.expanded footer {
        display: block;
    }
}