.title-snug {
    margin: -2em 0;
}

.api-search-input {
    font-size: x-large;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

.category-grid {
    @include clearfix;
    list-style: none;
    padding: 0;
}

.category-grid-item {
    float: left;
    margin: .75em;
}

.category-grid-link {
    @include align-items(center);
    background: white;
    border: 1px solid $border-color;
    border-radius: .25em;
    box-shadow: 0 .5em .5em -.5em rgba(black, .1);
    box-sizing: border-box;
    @include display-flex;
    @include flex-direction(column);
    height: 8em;
    @include justify-content(center);
    padding: .75em;
    position: relative;
    text-align: center;
    width: 8em;

    &:hover,
    &:focus {
        background: tint($link-color, 90%);
        border-color: $link-color;
        text-decoration: none;
    }
}

.category-grid-image {
    display: block;
    margin: 0 auto;
}

.category-grid-title {
    color: $text-color;
    font-weight: normal;
    line-height: 1;
    margin-top: .5em;
}

.category-grid-count {
    background: tint($link-color, 85%);
    border-radius: 5em;
    box-shadow: 0 2px 2px -1px rgba(black, .1);
    bottom: -.75em;
    box-sizing: border-box;
    font-size: 67%;
    font-weight: bold;
    line-height: 2em;
    min-width: 2em;
    padding: 0 .4375em;
    position: absolute;
    right: -1em;
    text-align: center;
}

.endpoint-list {
    list-style: none;
    padding: 0;
}

.endpoint-list-item {
    @mixin metric-color($color: $accent-color) {
        $pure: tint(saturate($color, 100%), 80%);
        $pure-dark: shade(saturate($color, 100%), 60%);
        background-color: $pure;

        .metric {
            color: $pure-dark;
        }

        .unit {
            color: mix($pure, $pure-dark);
        }
    }

    .primary-metric {
        width: 6em;

        > .metric {
            font-weight: normal;
        }

        &.down {
            background-color: white;
            box-shadow: inset 0 0 0 1px red;
            color: red;
        }
    }

    .endpoint-text {
        @include flex(1);
        overflow: hidden;
    }

    .endpoint-name {
        line-height: inherit;
        margin: 0;
    }

    .endpoint-path {
        font-size: x-large;
        line-height: 1.3333;
    }

    .endpoint-title {
        display: block;
        font-size: medium;
        font-weight: normal;
    }

    .endpoint-description {
        color: $muted-color;
    }
}





.filter-list {
    .submit-area {
        margin-top: 1em;
    }

    .field,
    .field + .field {
        font-size: .875em;
        margin: 0 1em 1em 0;
    }
}

.button-group {
    display: inline-block;
    margin-top: .5em;

    > label {
        float: left;
        margin-right: .5em;
    }

    > .button {
        border-left: 1px solid rgba(black, .1);
        border-radius: 0;
        float: left;
        margin: 0 !important;

        &:first-of-type {
            border-bottom-left-radius: 5px;
            border-left: 0;
            border-top-left-radius: 5px;
        }


        &:last-of-type {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    + .button-group {
        margin-left: .5em;
    }
}