
// TODO: extend a generic base class instead of .endpoint
.key {
    @extend .endpoint;
}

.key-string {
    background: rgba(white, .5);
    border: 1px solid rgba(black, .1);
    display: inline-block;
    font-family: $mono-font;
    padding: .25em .25em 0;
}