$trafficstack-metric-width: 4em;

@mixin trafficstack-bar-color($color: $accent-color) {
    background-color: tint(saturate($color, 100%), 80%);
    box-shadow: 0 0 0 1px mix(saturate($color, 20%), lighten($border-color, 20));
}

.trafficstack {
    header {
        margin-bottom: 1em;
    }

    .list-filter {
        width: 100%;
    }

    .radio-set-label {
        margin-right: .5em;
    }

    .radio-set-item {
        display: inline-block;

        input {
            margin-right: (1em/8);
            vertical-align: (1em/16);

        }

        + .radio-set-item {
            margin-left: .5em;
        }
    }
}

.trafficstack-col-headers {
    @include align-items(flex-end);
    @include display-flex;
    margin: 1em 0 -0.5em;
    padding: 0 2px;
}

.trafficstack-col-header {
    &.title-col {
        @include flex(1);
    }

    &.metric-secondary-col {
        text-align: center;
        width: $trafficstack-metric-width;
    }

    .header-text {
        color: $muted-color;
        display: block;
        font-size: x-small;
        font-weight: 500;
        line-height: 1;
        padding: .25em;
    }
}

.trafficstack-row {
    background: rgba(white, .6);
    border: 1px solid $border-color;
    margin: 0;
    padding: 0;
    @include transition(250ms);

    + .trafficstack-row {
        border-top-width: 0;
        box-shadow: 0 0 0 rgba(black, .1);

        .metric-primary-bar {
            top: 0;
        }
    }

    &.expanded {
        border-top-width: 1px;
        box-shadow: 0 .25em 1em rgba(black, .1);
        margin: 1em 0;

        + .trafficstack-row {
            border-top-width: 1px;
        }
    }

    .summary {
        @include display-flex;
    }

    .title {
        @include flex(1);
        margin: 0;
        padding: .5em 1em;
        position: relative;

        > * { position: relative; } // form a stacking context for children so they appear above the primary-bar
    }

    .metric-primary-bar {
        @include trafficstack-bar-color;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        @include transition(width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000)); // easeOutCirc
    }

    .metric-primary-value {
        color: $muted-color;
        font-size: small;
        margin-top: .25em;

        .unit { margin-left: .25em; }
    }

    .details {
        @include align-items(stretch);
        background-color: rgba($border-color, .1);
        box-shadow: inset 0 .5em .5em -.5em rgba(black, .1);
        height: 0;
        overflow: hidden;
        padding: 0 1em;
        @include transition(250ms);
    }

    .metric-secondary-ct {
        @include align-items(center);
        @include display-flex;
        @include justify-content(center);
        margin-left: 1px;
        text-align: center;
        position: relative;
        width: $trafficstack-metric-width;

        > * { position: relative; } // stacking context;

        .percent {
            font-size: .75em;
            font-weight: normal;
            vertical-align: .125em;
        }
    }

    .buttons {
        margin-top: .25em;
    }

    .metric-secondary-bar {
        @include trafficstack-bar-color;
        bottom: 0;
        left: 0;
        position: absolute;
        @include transition(width 500ms cubic-bezier(0.075, 0.820, 0.165, 1.000)); // easeOutCirc
        width: 100%;
    }

    .good .metric-secondary-bar { @include trafficstack-bar-color(darken(lime, 10)); }
    .mid .metric-secondary-bar { @include trafficstack-bar-color(darken(yellow, 10)); }
    .bad .metric-secondary-bar { @include trafficstack-bar-color(red); }

    &.expanded .details {
        height: auto;
        padding: .75em 1em;
    }
}