table {
    margin: 1em 0;
    width: 100%;
}

caption {
	@include clearfix;
	margin: 0;
	padding: 0;
	text-align: left;
	
	.button {
		margin-top: -.3em;
	}
}

th {
	text-align: left;
}

td {
    + td {
        border-left: 1px solid rgba($text-color, .04);
    }
}

td, th {
	padding: .25em .5em;
	
    .field {
        margin: .25em 0;
        width: 100%;
    }

    ul {
        margin: .5em 0;
    }
}

thead,
tr:nth-child(even) {
	td, th {
		background: rgba($text-color, .04);
	}
}

tbody {
    > tr:hover {
        > td, > th {
            background: rgba($link-color, .12);
        }
    }    
}

thead {
	th {
		background: rgba($text-color, .08);
		border-bottom: 1px solid rgba($text-color, .16);
		text-align: left;
		vertical-align: bottom;
	}
	
	small {
	    color: $muted-color;
    	display: block;
    	font-weight: normal;
    	margin-bottom: -.25em;
	}
}

.col-empty-text {
	color: $muted-color;
	font-style: italic;
	padding: 1em;
	text-align: center;
}